* {
    padding: 0;
    color: white;
    margin: 0;
}

#navbar {
    position: relative;
    height:60px ;
    background-color: #0f1111;
    padding-top: 5px;
}

button {
    background-color: #f08804;
    /* color: white; */
}

#logo {
    color: #f08804;
    font-size: 25px;
    /* margin-left: 2px; */
}

a {
    /* 
    margin-right: 200px; 
    This line was commented out
    */
    text-decoration: none;
    color: white;
    margin-right: 200px;
}

div div {
    width: 100px;
    height: 100px;
    border: 2px solid black ;
    display: inline-block;


}
div{
    height: 620px;
}
footer {
   color:  #7d7c7c;
   background-color:#0f1111 ;
   text-align: center;
    
}

